root = true

[*]
charset = utf-8

indent_size = 4
indent_style = space
max_line_length = 120

end_of_line = lf
insert_final_newline = false

ij_html_space_inside_empty_tag = true
ij_xml_space_inside_empty_tag = true

[*.json]
indent_size = 4

[*.{yaml, yml}]
indent_size = 2